
		<div id="all">
			<div id="top">	
				<div id="logo">
					<a href="#">
					<%= image_tag "logo.png", :id => "earth", :alt => "logo earth"%>
					<h1>THINGS WE LEFT ON THE MOON</h1>
					</a>
				</div>
				<div id="global">
					<ul>
						<li>
							<a href="#">News</a>
						</li>
						<li>
							<a href="#">Things</a>
						</li>
						<li>
							<a href="#">Stuff</a>
						</li>
						<li>
							<a href="#">Junk</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
					</ul>			
				</div>
			</div>
			<div id="allbloc">
			<div id="bloc1">
				<div id="intro">
					<span id="title-intro">
						We landed on the moon and we left stuff there. Alot of it.
					</span>
				</div>
			<div id="bloc1a">
				<div id="count">
					<span class="count">5</span><span class="count">9</span><span class="count">2</span><span class="count">3</span><span class="count">7</span> 
				</div>
				<div id="things">
					<span>Things left so far</span>
				</div>
				</div>
				</div>

				<div id="bloc2">
						<div id="prevnext">
							<a id="prev" href="#">
								<%= image_tag "icon-prev.png", :alt => "previous icone" %>
							</a>
							<a id="next" href="#">
								<%= image_tag "icon-next.png", :alt => "next icone" %>
							</a>
						</div>

						<div id="border1">
						<div id="bg1">
						<div id="doughnut">
							<a href="#">
								<%= image_tag "thing-doughnut.png", :alt => "1 big doughnut" ,:id =>"dough" %>
							</a>
								<span id="sub1">
									1 big doughnut
								</span>
						</div>
						</div>
						</div>

						<div class="border">
						<div class="bg">
						<div id="lawnmower">
							<a href="#">
							<%= image_tag "thing-mower.png", :alt => "1 lawnmower", :id => "law"%>
							</a>
								<span class="sub">
									1 lawnmower
								</span>
						</div>
						</div>
						</div>

						<div class="border">
						<div class="bg">
						<div id="astrocat">
							<a href="#">
							<%= image_tag "thing-cat.png", :id => "cat", :alt => "1 astrocat" %>
							</a>
								<span class="sub">
									1 astrocat
								</span>
						</div>
						</div>
						</div>

						<div class="border">
						<div class="bg">
						<div id="recliner">
							<a href="#">
							<%= image_tag "thing-recliner.png", :id => "rec", :alt => "1 recliner"%>
							</a>
								<span class="sub">
									1 recliner
								</span>
						</div>
						</div>
						</div>

						<div class="border">
						<div class="bg">
						<div id="magic-gnome">
							<a href="#">
							<%= image_tag "thing-gnome.png", :id =>"mag", :alt =>"1 magic gnome" %>
							</a>
								<span class="sub">
									1 magic gnome
								</span>
						</div>
						</div>
						</div>
						</div>
						
						<div id="allbloc2">
						<div id="bloc3">
							<h2>Latest thing news</h2>
							<h3>New things discoverr this week</h3>
							<p>
								lorem ipsum et dolor sit amet nec consecetur ksjdfh ilusqhd filuds hligudhs liughliusdgh lius hdliguh sdliuh gliusd hgliudh sliguh sdliug ludgh luish gliuhds gliuhsd liugh lsiudg hliusdh glius dhqliugh lisdh gliu dqhsliugh lqidsuh gliuqsd hgiluhsq dliug hliqsudg hliuqsd <a href="#">dolor in reprehenderit</a> hgliuh sdqlgiuh sqdliug hqiusdgh liuqs hdgliuqh dlsighlqisudgh liqusdhg liuqsd hgliuhqd slgiusd hqliguh qslidu hgliqusdh siqdgliuq hsdlgiuqh dsliguh qslidug0 hliuqsdhglq
							</p>
							<div id="bloc3a">
							<p>
								lorem ipsum et dolor sit amet nec consecetur ksjdfh ilusqhd filuds hligudhs liughliusdgh lius hdliguh sdliuh gliusd hgliudh sliguh sdliug ludgh luish gliuhds gliuhsd liugh lsiudg hliusdh glius dhqliugh lisdh gliu dqhsliugh lqidsuh gliuqsd hgiluhsq dliug hliqsudg hliuqsd
							</p>
							</div>

							<div class="bloc3b">
								<p>
										January 8, 2010
									by Flash Dustwinder
								</p>
							</div>
						<div id="bloc3c">
								<h3>We're getting word than a monkey as been spotted</h3>
							<p>
								lorem ipsum et dolor sit amet nec consecetur ksjdfh ilusqhd filuds hligudhs liughliusdgh lius hdliguh sdliuh gliusd hgliudh sliguh sdliug ludgh luish gliuhds gliuhsd liugh lsiudg hliusdh glius dhqliugh lisdh gliu dqhsliugh lqidsuh gliuqsd hgiluhsq dliug hliqsudg hliuqsd hgliuh sdqlgiuh sqdliug hqiusdgh liuqs hdgliuqh dlsighlqisudgh liqusdhg liuqsd hgliuhqd slgiusd hqliguh qslidu hgliqusdh siqdgliuq hsdlgiuqh dsliguh qslidug0 hliuqsdhglq
							</p>

						</div>
							<div class="bloc3b">
								<p>
										June 4, 1974
									by Biff Afterburn
								</p>
							</div>
						</div>

					<div id="right">
						<div id="categories">
								<h2>Top categories</h2>
							<ul>
								<li>
									<a href="#">Furniture <span>189 items</span> <%= image_tag "icon-catfurn.png", :alt =>"furniture" %></a>
								</li>
								<li>
									<a href="#">Fashion <span>4,729 items </span><%= image_tag "icon-catshirt.png", :alt =>"furniture" %></a>
								</li>
								<li>
									<a href="#">Pets <span>4 items </span><%= image_tag "icon-catpet.png", :alt => "furniture" %></a>
								</li>
							</ul>
						</div>
						<div id="alerts">
								<h2>New things alert</h2>
							<form action="#" method="post">
								<label for="name">Your name</label>
								<input type="text" id="name">
								<label for="email">Your email</label>
								<input type="email" id="email">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div id="para">
							<p>Lorem ipsum qoeifh mosqiuh foimsqh gofiuh dsgqlds guilq dlushs d gdliqusghluiqsh dgiusqh digu hqsiudg hliuqsh gliuq shdgiuhsq dligu sqhdliugh qlsidugh liqsdhg ilqusdhg liuqshdg liuhqsd giludsq hlgiuh qsliudhg liqusdhg liuqsg hdliuqdhs gliuhqsdilug hliqusdghuh ldgsq </p>
						</div>
						
					</div>
					</div>
					</div>


			<div id="footer">
				<div id="span">
				<span>This is a fictionnal case study, handcraft by SImpleBits in Saleem Masachusset</span>
				<br/>
				<span>We didn't really leave that stuff on the moon. Copyright ©2010</span>
				</div>

				<div id="link">
				<a href="#">
					<%= image_tag "logo-sb.png", :alt =>"logo SB" %>
				</a>
				<a href="#">
					<%= image_tag "icon-feed.png", :alt =>"logo feed" %>
				</a>
				<a href="#">
					<%= image_tag "icon-bitman.png", :alt => "logo Simplebit" %>
				</a>
				</div>
			</div>
</div>

