

		<div id="header"> 
			<%= image_tag "logo-company.png", :alt => "logo", :id => "logo"%>

			<div id="bloc1">
			<div id="main1">
			<a id= "menu1" href="#">HOME</a>
			<ul id="link1">
				<li><a href="#">Menu Styles</a></li>
				<li><a href="#">Sliders</a></li>
				<li><a href="#">More Features</a></li>
			</ul>
			</div>

			<div id="main2">
			<a id= "menu2" href="#">COMPANY</a>
			<ul id="link2">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Custom Pages</a></li>
			</ul>
			</div>

			<div id="main3">
			<a id= "menu3" href="#">PORTFOLIO</a>
			<ul id="link3">
				<li><a href="#">Two Columns</a></li>
				<li><a href="#">Tree Columns</a></li>
				<li><a href="#">More Layouts</a></li>
			</ul>
			</div>

			<div id="main4">
			<a id= "menu4" href="#">PRODUCTS</a>
			<ul id="link4">
				<li><a href="#">Product Category 1</a></li>
				<li><a href="#">Product Category 2</a></li>
				<li><a href="#">Custom Template</a></li>
			</ul>
			</div>

			<div id="main5">
			<a id= "menu5" href="#">BLOG</a>
			<ul id="link5">
				<li><a href="#">Post Types</a></li>
				<li><a href="#">Latest News</a></li>
				<li><a href="#">Custom Blog</a></li>
			</ul>
			</div>
		</div>
		</div>

		<div id="bloc2">
			<%= image_tag "photo01.jpg", :alt => "salon", :class => "img" %>
			<%= image_tag "photo02.jpg", :alt => "salle", :class =>"img" %>
			<%= image_tag "photo03.jpg", :alt => "cuisine", :class =>"img" %>
			<%= image_tag "photo04.jpg", :alt => "bain", :class => "img" %>
		</div>

		<div id="bloc3">
			<span id="span1">Joyeux anniversaire Léo et Mélissa !!</span>
		</div>

		<div id="bloc4">
		<div id="bloc4b">
			<span class="title">WELCOME</span>
			<span class="sstitle">Lorem ipsum dolor sit amet</span>
			<%= image_tag "photo05.jpg", :alt => "poisson", :id => "imgmenu" %>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec purus tellus, quis pulvinar tortor. Sed mattis lobortis gravida.</p>
			<a id= "read" href="Maquette2">read more →</a>
		</div>

			<div id="box1">
			</div>

		<div id="bloc4c">
			<span class="title">LATEST WORKS</span>
			<span class="sstitle">sub title for home page box</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec purus tellus, quis pulvinar tortor. Sed mattis lobortis gravida.</p>
			<span class="title2">OUR PRODUCTS</span>
			<span class="sstitle">Lorem ipsum dolor sit amet</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec purus tellus, quis pulvinar tortor. Sed mattis lobortis gravida.</p>
		</div>
		<div id="bloc4d">
			<span class="title">FLEXIBLE PAGES</span>
			<span class="sstitle">subtitle for home page box</span>
			<object type="application/x-shockwave-flash" data="https://youtu.be/_SEwzS1vG28" style="width:480px; height:290px;">
			<param name="movie" value="https://youtu.be/_SEwzS1vG28" />
			<param name="allowFullScreen" value="true" />
			<param name="allowScriptAccess" value="always" />
			<param name="wmode" value="transparent" />
	</object>
			
		</div>
				<div id="box2">
		</div>
		</div>

		<div id="bloc5">
		<div id="bloc5a">	
			<span class="title_bottom">CONTACT DETAILS</span>
			<ul id="contact">
				<li id="home">63739 street lorem ipsum 
				<br/>
				City, Country</li>
				<li id="phone">+1 123 312 32 23</li>
				<li id="mail"><a href="mailto:info@company.com">info@company.com</a></li>
				<li id="help"><a href="mailto:support@company.com">support@company.com</a></li>
			</ul>
		</div>

		<div id="bloc5b">
			<span class="title_bottom">TWITTER FEEDS</span>
			<span class="sstitle">about 5 hours ago</span>
			<span class="span2">Pragmatic, practical font sizing in CSS  <a href="http://bit.ly/1XtGK8Y">http://bit.ly/1XtGK8Y</a></span>
		</div>

		<div id="bloc5c">
			<span class="title_bottom">RECENT POSTS</span>
			<span class="sstitle">01 Mar 2012</span>
			<span class="span2">Gallery Post Type</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ligula quis urna placerat fermentum...</p>
		</div>

		<div id="bloc5d">
			<span class="title_bottom">WIDGETIZED FOOTER</span>
			<p id="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at felis mi, at auctor mi. Donec vel nibh sem. Etiam ut lacus a dui accumsan accumsan. Aenean vel orci elit..</p>
		</div>
		</div>

		<div id="footer">
		<div id="footer1">
			<a class="last" href="#">Press</a> 
  			<a class="last" href="#">Company Blog</a>
  			<a class="last" href="#">Contact Us</a>
  			<a href="#">About us</a>
  			<span id="copyright">Copyright © 2011 Company Name, Inc.</span>
		</div>
		<div id="icone">
			<%= image_tag "icon-email.png", :alt =>"email" %>
			<%= image_tag "icon-twitter.png", :alt =>"twitter" %>
			<%= image_tag "icon-flickr.png", :alt =>"flickr" %>
			<%= image_tag "icon-facebook.png", :alt =>"facebook" %>
			<%= image_tag "icon-dribble.png", :alt =>"dribble" %>
			<%= image_tag "icon-google.png", :alt =>"google" %>
		</div>
		</div>
		

	